{% extends 'base.html' %}

{% block title %}Accueil - Talent Access 237{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="fw-light mb-4">Bienvenue sur Talent Access 237</h1>
            <p class="lead text-muted">Connectez diplômés et entreprises rapidement</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
                <a href="#" class="btn btn-primary btn-lg px-4">Je suis Diplômé(e)</a>
                <a href="#" class="btn btn-outline-primary btn-lg px-4">Je suis une PME</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
